.secondpage{
    padding-top: 84px;
}


.services{
    height: 184px;
    width: 842px;
    /* border: 1px solid orange; */
}

.our-services{
    height: 32px;
    width: 120px;
    /* border: 1px solid red; */
    font-size: 20px;
    line-height: 28px;
    color: #777777;
    font-family: "Open Sans", sans-serif;
}

.para-services{
    font-size: 48px;
    line-height: 72px;
    font-family: "Manrope", sans-serif;
    text-align: center;
}

.second-body{
    height:575px ;
    width: 300px;
    /* border: 1px solid red; */
    
}

.card-context{
    margin-top: 37px;
    height: 185px ;
    width: 300px;
    /* border: 1px solid blue; */
}

.card-context1{
    height:112px;
    width: 293px;
    /* border: 1px solid green; */
}

.second-title{
    height: 36px;
    font-size: 24px;
    line-height: 36px;
    letter-spacing: 0;
   
    font-family: "Open Sans", sans-serif;
}

.second-text{
    height: 64px;
    font-size: 20px;
    line-height: 32px;
    letter-spacing: 0;
    color: #777777;
   
    font-family: "Open Sans", sans-serif;
}

.explore-more{
    height: 45px;
    width: 164px;
    font-size: 20px;
    line-height: 36px;
    letter-spacing: 0;
    display: flex;
    color: #0A2640;
    align-items: center;
    /* border: 1px solid red; */
    margin-top: 28px;
    border-bottom: 1px solid #0A2640;
    padding-bottom: 1px;
    margin-bottom: 0;
    cursor: pointer;
}

.explore-more:hover{
    color: #154d81;
}