.container {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background:rgb(245, 245, 246);
}

.calculator {
  padding: 10px;
  /* border-radius: 5px; */
  background-color: rgb(211, 211, 211);
  border: 0.5px solid blue;
}

form input {
  border: none;
  outline: 0;
  width: 60px;
  height: 60px;
  font-size: 16px;
  background-color: rgb(60, 6, 197);
  margin: 2px;
  border-radius: 3px;
  color: white;
  font-weight: bolder;
  cursor: pointer;
}

form input[type="button"]:hover {
  background-color: rgb(46, 10, 145);
}

form .display {
  display: flex;
  justify-content: flex-end;
  margin: 5px 0px 15px 0px;
}

form .display input {
  text-align: right;
  flex: 1;
  font-size: 40px;
  padding: 5px 10px;
  background-color: rgb(118, 117, 117);
}

form input.equal{
  width: 123px;
}