.about3page{
    padding-top: 84px;
}


.about3-page{
    width: 1100px;
    height: 632px;
    /* border: 1px solid red; */
    display: flex;
    justify-content: space-between;
    /* align-items: center;
    justify-content: space-between; */
}

.about3-one{
    width: 300px;
    /* height: 284px; */
    /* border: 1px solid aqua; */
}


.about3-two{
    width:400px ;
    /* height: 632px ; */
    /* border: 1px solid aqua; */
}


.about3-three{
    width: 300px;
    /* height: 305px; */
    /* border: 1px solid aqua; */
}