
.about5page{
    padding-top: 84px;
}


.about5-page{
    width: 1400px;
    height: 584px;
    /* border: 1px solid red; */
    background-color:#0A2640 ;
    display: flex;
    justify-content:center;
     align-items: center;
   
}

.about5-one{
    height: 184px;
    width: 842px;
    /* border: 1px solid white; */
    margin-bottom: 40px;
}

.about5-two{
    height: 124px;
    width: 1000px;
    /* border: 1px solid white; */
    margin-top: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.about5-three{
    width: 130px;
    height: 32px;
    font-size: 20px;
    line-height: 32px;
    font-family: "Open Sans", sans-serif;
    color: #F1F1F1;
    /* border: 1px solid red; */
 
     /* align-items: center; */
    /* text-align: center; */
}

.about5-four{
    font-size: 48px;
    width: 842px;
    height: 144px;
    line-height: 72px;
    font-family: "Manrope", sans-serif;
    color: #FFFFFF;
    text-align: center;
}

.about5-six{
    width: 233px;
    height: 124px;
    /* border: 1px solid blue; */
}

.about5-seven{
    height: 124px;
    width: 297px;
    /* border: 1px solid green; */
}

.about5-eight{
    height: 124px;
    width: 187px;
    /* border: 1px solid green; */
}

.about5-para2{
    font-size: 24px;
    line-height: 36px;
    font-family: "Open Sans", sans-serif;
    color: #F1F1F1;
    margin-top: 30px;
}

.about5-para{
    font-size: 96px;
   
   color: #4FE9A4;
    line-height: 56px;
    font-family: "Manrope", sans-serif;
}
