.about7page{
    padding-top: 84px;
}


.about7-page{
    width: 1400px;
    height: 1166px;
    /* border: 1px solid red; */
    background-color:#0A2640 ;
    display: flex;
    justify-content:center;
     align-items: center;
   
}

.about7-one{
    height:121px ;
    width: 800px;
    /* border: 1px solid red; */
}

.about7-two{
    height: 110px;
    width: 799px;
    /* border: 1px solid yellow; */
    font-size: 20px;
    line-height: 32px;
    font-family: "Open Sans", sans-serif;
    color: #F1F1F1;
    margin-top: 12px;
}

.about7-three{
    height: 154px;
    width: 800px;
    /* border: 1px solid white; */
    display: flex;
    justify-content: space-between;
    margin-top: 50px;

}

.aboutpara1{
    font-size: 20px;
    line-height: 32px;
    font-family: "Open Sans", sans-serif;
    color: #FFFFFF;
}

.aboutpara2{
    font-size: 48px;
    line-height: 72px;
    font-family: "Manrope", sans-serif;
    color: #FFFFFF;
    /* border: 1px solid red; */
    margin-top: 15px;
}

.about7-four{
    height: 126px;
    width: 600px;
    /* border: 1px solid orange; */
}

.about7-five{
    height: 39px;
    width: 842px;
    font-size: 28px;
    line-height: 48px;
    font-family: "Manrope", sans-serif;
    color: #FFFFFF;
}

.about7-six{
    height: 71px;
    width: 602px;
    font-size: 20px;
    line-height: 32px;
    font-family: "Open Sans", sans-serif;
    color: #F1F1F1;
    /* border: 1px solid red; */
    margin-top: 15px;
}
