.forget-password{
    background-image: url("/images/123.avif");
    background-repeat: no-repeat;
    background-position:bottom center;
    background-size: cover;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.forget-form{
    /* background :rgba(255,255,255,0.04); */
    background-color: white;
    width: 500px;
    /* border: 1px solid red; */
    /* background-color: white; */
    border-radius: 10px;
    padding: 24px;
}

.forget-form p {
    font-weight: 500;
}

.forget-form h1 {
    font-size: 32px;
    margin-bottom: 16px;
}

