.thirdpage{
    padding-top: 84px;
}

.third-page{
    width: 1137px;
    height: 610px;
    /* border: 1px solid red; */
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.third-content{
    height: 479px;
    width: 493px;
    /* border: 1px solid blue; */
}

.third-content1{
    height: 363px;
    /* border: 1px solid green; */
}

.third-content2{
    height: 164px;
    /* border: 1px solid red; */
    font-size: 36px;
    line-height: 56px;
    font-family: "Manrope", sans-serif;
}

.third-content3{
    margin-top: 40px;
    height: 159px;
    /* border: 1px solid aqua; */
    
}

.third-content4{
   
    height: 37px;
    width: 450px;
    /* border: 1px solid green; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}

.third-context5{
    width: 387px;
    /* border: 1px solid orange; */
    font-size: 20px;
    line-height: 32px;
    font-family: "Open Sans", sans-serif;
    letter-spacing: 0;
}

.third-button{
    height: 60px;
    width: 210px;
    background-color: #0A2640;
    border: #0A2640;
   

}

.button-third{
    font-size: 20px;
    line-height: 28px;
    letter-spacing: 0;
    color: #ffffff;
    font-family: "Open Sans", sans-serif;
}

.third-button:hover{
    background-color: #071a2b;

}